body {
  font-size: 16px;
  line-height: 25px; }

article {
  width: 30em;
  margin: auto; }

aside {
  display: inline-block;
  background-color: #EEE;
  margin-left: -20px;
  position: relative;
  right: -5em;
  float: right;
  width: 50%; }
