@import "./bower_components/marx/scss/marx";
@import "./bower_components/breakpoint-sass/stylesheets/_breakpoint";
@import "./bower_components/modular-scale/stylesheets/modular-scale";
@import "bourbon";
@import "_susy";

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

$ms-base: 1em;
$ms-ratio: $golden;

body {
	font-family: "minion-pro";
	// font-size: 16px;

	font-size: 14px;
	line-height: 22px; /* 22px / 14px */

	@include breakpoint($tablet) {
		font-size: 16px;
		line-height: 24px;
	}

	@include breakpoint($desktop) {
		font-size: 18px;
		line-height: 26px;
	}
}

h1, h2, h3, h4, h5, h6, nav {
	border-bottom: none;
	font-family: "din-condensed-web";
	margin-top: 0px;
}

h1, h2, h3, h4, h5, h6, 
.primary p:first-of-type {
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: ms(2);
	line-height: (44px / 36.289px) * 1em;
	margin-bottom: (8px / 36.289px) * 1em;

	@include breakpoint($tablet) {
		line-height: ( 48px / 41.4736px) * 1em;
	}
}

h2 {
	font-size: ms(1);
	line-height: (33px / 22.54px) * 1em;
	margin-bottom: (10px / 22.54px) * 1em;

	@include breakpoint($tablet) {
		line-height: (36px / 25.76px) * 1em;
		margin-bottom: 0em;
	}

	@include breakpoint($desktop) {
		margin-bottom: (8px / 28.98px) * 1em;
	}
}

h3 {
	font-size: ms(0);
	line-height: (22px / 14px) * 1em;
	margin-bottom: (11px / 14px) * 1em;
	margin-top: 0em;

	@include breakpoint($tablet) {
		line-height: (24px / 16px) * 1em;
		margin-bottom: 0em;
	}

	@include breakpoint($desktop) {
		line-height: (26px / 18px) * 1em;
	}
}

.container {
	padding: 0.5em;
	width: 100%;
}

.page-wrap {
	margin: auto;
	overflow: hidden;
	max-width: 40em;
}

article {
	max-width: 40em;
}

p {
	margin-bottom: (11px / 14px) * 1em;
	margin-top: 0em;
}

.primary > p:first-of-type {
	@include breakpoint($desktop) {
		font-size: 1.2em;

		&:first-letter {
			float: left; 
			font-size: ms(3); 
			line-height: 0.9em; 
			padding-right: 0.2em; 
		}
	}
}

.endorsement, .pull-quote {
	font-size: ms(1);
	max-width: 25em;

	footer {
		border-top: none;
	}

	
	line-height: (33px / 22.54px) * 1em;
	margin-bottom: (11px / 22.54px) * 1em;

	@include breakpoint($tablet) {
		line-height: (36px / 25.76px) * 1em;
		margin-bottom: 0em;
	}

	@include breakpoint($desktop) {
		line-height: ( 43px / 28.98px) * 1em;
		margin-top: 0em;
	}
}

a {
	text-decoration: none;
}

#logo, #logo > img {
	width: 100%;
}

#info {
	background-color: #EEE;
	overflow: hidden;

	#logo {
		float: left;
		width: 45%;
	}

	nav {
		ul {
			overflow: hidden;
			padding-top: 0em;
			width: 50%;
			li {
				clear: left;
				display: block;
				float: left;
				font-size: ms(1);
				line-height: (33px / 22.54px) * 1em;
				text-align: center;
				width: 100%;
			}
		}

		a {
			padding: 0em;
		}
	}
}

aside {
	display: none;
}