@import "./bower_components/breakpoint-sass/stylesheets/_breakpoint";
@import "./bower_components/modular-scale/stylesheets/modular-scale";
@import "bourbon";
@import "neat";

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

$ms-base: 1em;
$ms-ratio: $golden;

body {
	font-family: "minion-pro";
	font-size: 16px;

	@include breakpoint($mobile) {
		font-size: 14px;
	}

	@include breakpoint($tablet) {
		font-size: 16px;
	}

	@include breakpoint($desktop) {
		font-size: 18px;
	}
}

h1, h2, h3, h4, h5, h6, nav {
	font-family: "din-condensed-web"
}

h1, h2, h3, h4, h5, h6, 
.primary p:first-of-type {
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: ms(3);
}

h2 {
	font-size: ms(2);
}

h3 {
	font-size: ms(1);
}

.container {
	width: 100%;
}

article {
	max-width: 40em;
}

.primary > p:first-of-type {
	@include breakpoint($desktop) {
		font-size: 1.2em;

		&:first-letter {
			float: left; 
			font-size: ms(3); 
			line-height: 1em; 
			padding-right: 8px; 
		}
	}
}

.endorsement, .pull-quote {
	font-size: ms(1);
	max-width: 25em;
}

a {
	text-decoration: none;
}

#logo, #logo > img {
	width: 100%;
}